[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "helpers/gnome-terminal-solarized"]
	path = helpers/gnome-terminal-solarized
	url = git://github.com/Anthony25/gnome-terminal-colors-solarized
[submodule "helpers/dircolors-solarized"]
	path = helpers/dircolors-solarized
	url = git://github.com/seebi/dircolors-solarized
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-jade"]
	path = bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "bundle/html5.vim"]
	path = bundle/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule "bundle/vim-indexed-search"]
	path = bundle/vim-indexed-search
	url = https://github.com/henrik/vim-indexed-search.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/syntastic-extras"]
	path = bundle/syntastic-extras
	url = https://github.com/myint/syntastic-extras.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "bundle/gundo.vim"]
	path = bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/yajs.vim"]
	path = bundle/yajs.vim
	url = https://github.com/othree/yajs.vim.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "bundle/closetag.vim"]
	path = bundle/closetag.vim
	url = https://github.com/docunext/closetag.vim.git
[submodule "bundle/vim-stylus"]
	path = bundle/vim-stylus
	url = git://github.com/wavded/vim-stylus.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
