[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "helpers/gnome-terminal-solarized"]
	path = helpers/gnome-terminal-solarized
	url = git://github.com/Anthony25/gnome-terminal-colors-solarized
[submodule "helpers/dircolors-solarized"]
	path = helpers/dircolors-solarized
	url = git://github.com/seebi/dircolors-solarized
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
